<section class="container my-5">
    <div class="item1">
        <img src="../../assets/1.jpg" alt="">
    </div>
    <div class="item2">
        <img src="../../assets/2.jpg" alt="">
    </div>
    <div class="item3">
        <img src="../../assets/3.jpg" alt="">
    </div>
    <div class="item4">
        <img src="../../assets/4.jpg" alt="">
    </div>
    <div class="item5">
        <img src="../../assets/5.jpg" alt="">
    </div>
    <div class="item6">
        <img src="../../assets/6.jpg" alt="">
    </div>
    <div class="item7">
        <img src="../../assets/7.jpg" alt="">
    </div>
    <div class="item8">
        <img src="../../assets/8.jpg" alt="">
    </div>
</section>
