<section class="container mt-5">
  <h2 class="text-center">CONTÁCTENOS</h2>
  <form [formGroup]="form">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Nombre:</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Juan Perez"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email: </label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Mensaje: </label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          formControlName="message"
          rows="3"
        ></textarea>
      </div>
      <button type="button" class="btn btn-success w-100 mt-3" (click)="submit()">Enviar</button>
  </form>
  
</section>
